body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin:0;
    background-color: #f4f4f4;
  }
  .container{
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  ul{
    margin: 0;
    padding: 0;
  }
/* Header */
header{
  background: #0018f3;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #070707 3px solid;
}
header a{
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}
header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding{
  float: left;
}
header #branding h1{
  margin: 0;
}
header nav{
  float: right;
  margin-top: 10px;
}
header .highlight, header .current a{
  color: #32a0c2;
  font-weight: bold;
}
header a:hover{
  color: #cccccc;
  font-weight: bold;
}
  .button_1{
    height: 38px;
    background: #cccccc;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #353637;
  }
  footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #0018f3;
    text-align: center;
  }
  /* Sidebar */
aside#sidebar{
    float: right;
    width: 30%;
    padding: 5px;
  }
  aside#sidebar .contact input, aside#sidebar .contact textarea{
    width: 90%;
    padding: 5px;
  }
  article#main-col{
    float: left;
    width: 65%;
  }
  /* Services */
ul#services li{
    list-style: none;
    padding: 20px;
    margin-bottom: 5px;
  }
  ul#services h3{
    border-bottom: #353637 solid 1px;
  }
  #newsletter form input[type="email"],
  .contact input,
  .contact textarea,
  .contact label{
    width: 100%;
    margin-bottom: 5px;
  }